<div class="row">
    <div class="col-6 mt-3 d-none d-lg-block">
        <img src="https://www.mauli-infotech.co.in/img/services/order1.jpg" alt="">
    </div>
    <div class="col-6">
        <div class=" d-none d-md-block d-lg-block" style="margin-top: 120px; margin-left: -50px;">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <mat-form-field style="width: 300px;">
                    <mat-label>Search Anything.</mat-label>
                    <input matInput placeholder="Eg:- Electronics" type="text">
                </mat-form-field>
                <button mat-button style="background-color: purple; color: white; margin-left: 20px;">Find Quickly</button>
                <button mat-button style="background-color: dodgerblue; color: white; margin-left: 20px;">Want to Advance Search</button>
            </p>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 ms-4" style="overflow-x: hidden;">
        <div class="d-md-none d-lg-none" style="margin-top: 30px;">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention
                to featured content or information.</p>
            <hr class="my-4" style="width: 300px;">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead">
                <mat-form-field style="width: 300px;">
                    <mat-label>Search Anything.</mat-label>
                    <input matInput placeholder="Eg:- Electronics" type="text">
                </mat-form-field>
                <button mat-button style="background-color: purple; color: white;">Find Quickly</button>
                <button mat-button style="background-color: dodgerblue; color: white; margin-left: 20px;">Want to Advance Search</button>
            </p>
        </div>
    </div>
</div>