<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Manage All ADs <span><img
                src="https://img.icons8.com/color/48/228BE6/request-service.png" /></span> </h2>
    <div>
        <hr style="border: 1px solid black; margin-top: -5px;">
    </div>
    <div class="row">
        <div class="col-lg mt-3 d-none d-lg-block d-md-block">
            <a href="" routerLink="/app/create-ad"><div class="card" style="height: 12rem; width: 12rem;">
                <div class="card-body text-center">
                    <div>
                        <img src="https://img.icons8.com/bubbles/100/000000/create-new.png" />
                    </div>
                    <span
                        style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large; color: black;">Create
                        Ad Post</span>
                </div>
            </div></a>
        </div>

        <!-- mobile view -->
        <div class="col-lg ms-4 mt-3 d-lg-none d-md-none">
            <div class="card" style="height: 12rem; width: 12rem;">
                <div class="card-body text-center">
                    <div>
                        <img src="https://img.icons8.com/bubbles/100/000000/create-new.png" />
                    </div>
                    <span
                        style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;">Create
                        Ad Post</span>
                </div>
            </div>
        </div>

        <div class="col-lg ms-4 mt-3">
            <div class="card" style="height: 12rem; width: 12rem;">
                <div class="card-body text-center">
                    <div>
                        <img src="https://img.icons8.com/bubbles/100/000000/everything-game.png" />
                    </div>
                    <span
                        style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;">See
                        All Ads</span>
                </div>
            </div>
        </div>

        <div class="col-lg ms-4 mt-3">
            <div class="card" style="height: 12rem; width: 12rem;">
                <div class="card-body text-center">
                    <div>
                        <img src="https://img.icons8.com/bubbles/100/000000/google-web-search.png" />
                    </div>
                    <span
                        style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;">Advance
                        Search</span>
                </div>
            </div>
        </div>

        <div class="col-lg ms-4 mt-3">
            <div class="card" style="height: 12rem; width: 12rem;">
                <div class="card-body text-center">
                    <div>
                        <img src="https://img.icons8.com/bubbles/100/000000/group.png" />
                    </div>
                    <span
                        style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-size: large;">Referel's
                        Reach</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <h3 class="display-3">
            Average Staticstics For Your ADs.
            <span><img src="https://img.icons8.com/color/50/000000/informatics.png"/></span>
        </h3>
        <canvas id="myChart"></canvas>
    </div>
</div>