<div id="content" class="p-4 p-md-5 pt-5">
    <h2 class="mb-4">Advance Search Throgh All ADs</h2>
    <div class="row" style="width: 1000px">
        <div class="col-3" style="border-right: 1px double rgb(186, 236, 92); height: 600px;">
            <div class="row">
                <span>Filter Criterias</span>
            </div>
            <div class="row mt-3">
                <span>Select Price Range and Filter ADs</span>

                <div class="col">
                    <mat-slider color="primary" style="width: 100%;" thumbLabel [displayWith]="formatLabel" tickInterval="1000" step="1000" min="0"
                        max="100000" aria-label="units"></mat-slider>
                </div>

                <div class="row">
                    <div class="col">
                        <span>MIN</span>
                    </div>
                    <div class="col">
                        <span style="float: right;">MAX</span>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <span>Filter ADs By Last Date Modified</span>

                <div class="col mt-2">
                    <mat-radio-group color="primary">
                        <mat-radio-button value="4">All</mat-radio-button><br>
                        <mat-radio-button value="1">Latest ADs</mat-radio-button><br>
                        <mat-radio-button value="2">Popular ADs</mat-radio-button><br>
                        <mat-radio-button value="3">Trending ADs</mat-radio-button><br>
                    </mat-radio-group>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Select Category</mat-label>
                        <input matInput type="text" placeholder="Eelectronics">
                    </mat-form-field>
                </div>

                <div class="col-6">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Select Category</mat-label>
                        <input matInput type="text" placeholder="Eelectronics">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card-sl">
                        <div class="card-image">
                            <img
                                src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                        </div>

                        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                        <div class="card-heading">
                            Audi Q8
                        </div>
                        <div class="card-text">
                            Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                        </div>
                        <div class="card-text">
                            $67,400
                        </div>
                        <a href="#" class="card-button"> Purchase</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-sl">
                        <div class="card-image">
                            <img
                                src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                        </div>

                        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                        <div class="card-heading">
                            Audi Q8
                        </div>
                        <div class="card-text">
                            Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                        </div>
                        <div class="card-text">
                            $67,400
                        </div>
                        <a href="#" class="card-button"> Purchase</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card-sl">
                        <div class="card-image">
                            <img
                                src="https://images.pexels.com/photos/1149831/pexels-photo-1149831.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
                        </div>

                        <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                        <div class="card-heading">
                            Audi Q8
                        </div>
                        <div class="card-text">
                            Audi Q8 is a full-size luxury crossover SUV coupé made by Audi that was launched in 2018.
                        </div>
                        <div class="card-text">
                            $67,400
                        </div>
                        <a href="#" class="card-button"> Purchase</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>