<div class="row ms-4">
    <h1 class="display-1">Latest Advertisments.</h1>
    <span>Displays All The Lates Posts ,So you Can Easily See the Latest Sales.</span>
    <hr class="my-4">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="slide">
                <mdb-card class="me-5 mb-3">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <!-- Card img -->
                      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp" alt="Card image cap"></mdb-card-img>
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                      <!--Title-->
                      <mdb-card-title>
                        <h4>Card Title</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                      </mdb-card-text>
                  
                      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                  </mdb-card>
                  <!-- Card -->
            </div>
        </ng-template>
    
        <ng-template carouselSlide>
            <div class="slide">
                <mdb-card class="me-5">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <!-- Card img -->
                      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp" alt="Card image cap"></mdb-card-img>
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                      <!--Title-->
                      <mdb-card-title>
                        <h4>Card Title</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                      </mdb-card-text>
                  
                      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                  </mdb-card>
                  <!-- Card -->
            </div>
        </ng-template>
    
        <ng-template carouselSlide>
            <div class="slide">
                <mdb-card class="me-5">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <!-- Card img -->
                      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp" alt="Card image cap"></mdb-card-img>
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                      <!--Title-->
                      <mdb-card-title>
                        <h4>Card Title</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                      </mdb-card-text>
                  
                      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                  </mdb-card>
                  <!-- Card -->
            </div>
        </ng-template>
    
        <ng-template carouselSlide>
            <div class="slide">
                <mdb-card class="me-5">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <!-- Card img -->
                      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp" alt="Card image cap"></mdb-card-img>
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                      <!--Title-->
                      <mdb-card-title>
                        <h4>Card Title</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                      </mdb-card-text>
                  
                      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                  </mdb-card>
                  <!-- Card -->
            </div>
        </ng-template>
    
        <ng-template carouselSlide>
            <div class="slide">
                <mdb-card class="me-5">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <!-- Card img -->
                      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp" alt="Card image cap"></mdb-card-img>
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                      <!--Title-->
                      <mdb-card-title>
                        <h4>Card Title</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                      </mdb-card-text>
                  
                      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                  </mdb-card>
                  <!-- Card -->
            </div>
        </ng-template>
    
        <ng-template carouselSlide>
            <div class="slide">
                <mdb-card class="me-5">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <!-- Card img -->
                      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp" alt="Card image cap"></mdb-card-img>
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                      <!--Title-->
                      <mdb-card-title>
                        <h4>Card Title</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                      </mdb-card-text>
                  
                      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                  </mdb-card>
                  <!-- Card -->
            </div>
        </ng-template>
    
        <ng-template carouselSlide>
            <div class="slide">
                <mdb-card class="me-5">
                    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                      <!-- Card img -->
                      <mdb-card-img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).webp" alt="Card image cap"></mdb-card-img>
                      <a>
                        <div class="mask"></div>
                      </a>
                    </div>
                    <!--Card content-->
                    <mdb-card-body>
                      <!--Title-->
                      <mdb-card-title>
                        <h4>Card Title</h4>
                      </mdb-card-title>
                  
                      <!--Text-->
                      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
                        content.
                      </mdb-card-text>
                  
                      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
                    </mdb-card-body>
                  </mdb-card>
                  <!-- Card -->
            </div>
        </ng-template>
    
    </owl-carousel-o>
</div>